<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <h1>Lista kontaktów</h1>
    </div>
  </div>
  <div class="row p-3">
    <div class="col">
      <mat-form-field>
        <input
          matInput
          placeholder="Name"
          [(ngModel)]="filterName"
          (keyup)="initSearch()"
          (keydown.escape)="$event.stopPropagation(); filterName = ''"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-select
          [(ngModel)]="filterType"
          (selectionChange)="selectedType($event)"
          placeholder="Rodzaj kontaktu"
        >
          <mat-option value="person">Osoba fizyczna</mat-option>
          <mat-option value="company">Firma</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input
          matInput
          placeholder="email"
          [(ngModel)]="filterEmail"
          (keyup)="initSearch()"
          (keydown.escape)="$event.stopPropagation(); filterEmail = ''"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input
          matInput
          placeholder="Telefon"
          [(ngModel)]="filterPhone"
          (keyup)="initSearch()"
          (keydown.escape)="$event.stopPropagation(); filterPhone = ''"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-raised-button (click)="clearSearchValues()">Wyczyść</button>
    </div>

    <button
      mat-icon-button
      color="primary"
      class="pull-right"
      routerLink="/add"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    data-step="2"
    data-position="bottom"
    class="mat-elevation-z8 col-12"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef (click)="changedSortDirection()">
        Nazwa kontaktu
      </th>
      <td
        mat-cell
        *matCellDef="let contact"
        [routerLink]="['/contact', contact.id]"
      >
        {{ contact.name }}
        <span *ngIf="contact.type === 'person'">
          {{ contact.person.surname }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rodzaj kontaktu</th>
      <td mat-cell *matCellDef="let contact">
        {{ type(contact) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let contact">
        {{ contact.email }}
      </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefon</th>
      <td mat-cell *matCellDef="let contact" (click)="openEditDialog(contact)">
        {{ contact.phone }}
      </td>
    </ng-container>
    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef>Akcje</th>
      <td mat-cell *matCellDef="let contact">
        <button mat-icon-button [routerLink]="['/edit', contact.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteContact(contact)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    (page)="paging($event)"
    [pageIndex]="contactSearchValues.pageNumber"
    [pageSize]="contactSearchValues.pageSize"
    [length]="totalContactsFounded"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
